*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1c2a39;
    --gray: #5c6a79;
    --purple: #4c3db2;
  }

/* header */
  .navbar {
    height: 120px;
    margin-left: 10%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .menu,
  .menu-icons {
  list-style: none;
  display: flex;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}

.menu .active {
  color: var(--black);
  font-weight: bold;
}

.menu li,
.menu-icons li {
  margin: 0 10px;
}
.menu-icons li {
  color: var(--black);
}
.basket-icon {
  position: relative;
}
.basket-count {
  position: absolute;
  bottom: 0;
  right: -11.2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;

}

/* içeriği boşsa çalışır */
.basket-count:empty{
    display: none;
}

/* slider */

.slider{
    width: 70%;
    margin: 0 auto;
}